.location {
    background-color: rgb(11, 11, 56);
    padding: 10px 0;
    text-align: center;
    border-top: rgb(122, 90, 142) 2px solid;
    display: flex;
    color: aliceblue;
}

.location select {
    background-color: rgb(11, 11, 56);
    padding: 5px 0;
    text-align: center;
    border: rgb(122, 90, 142) 2px solid;
    border-radius: 5%;
    color: aliceblue;
    cursor: pointer;
}

.location_img{
    color: aliceblue;
}

.location_sel select{
    background-color: rgb(11, 11, 56);
}